#container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 25px;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
fieldset{
    width: 800px;
}

h1{
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 25px;
    font-size: 30px;
    color: #000;
    border-bottom-style:double;
}