@font-face {
    font-family: 'Sevillana';
    src: url('../fonts/Sevillana-Regular.eot');
    src: local('Sevillana'), local('Sevillana-Regular'),
        url('../fonts/Sevillana-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sevillana-Regular.woff2') format('woff2'),
        url('../fonts/Sevillana-Regular.woff') format('woff'),
        url('../fonts/Sevillana-Regular.ttf') format('truetype'),
        url('../fonts/Sevillana-Regular.svg#Sevillana-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.logo{
    width: 100%;
    max-width: 300px;
    float: left;
}
#logo{
    width: 150px;
}
nav{
    width: 100%;

}
nav ul{
    height: 30px;
    padding:  60px 0px;
    background-color: rgb(15, 53, 15);
}
nav ul li{
    display: inline;
    padding: 20px 25px;
    list-style: none;
}
nav ul li:hover, nav ul li.active{
    background-color: yellowgreen;
}

/* nav ul li:hover a{
    color: yellow;
} */
nav ul li a{
    font-size: 30px;
    color: #ffff;
    text-decoration: none;
    font-family: "Sevillana", serif;
    font-weight: 400;
    font-style: normal;
      
      
}

/* END HEADER */

#banner{
    width: 100%;
    height: 600px;
    background-image: url("../images/banner.jpg");
}
#banner section{
    /* text-align: center; */
    position: absolute;
    top: 40%;
    left: 45%;
    color: yellowgreen;
}
/* END BANNER*/
.container{
    margin:  20px 0px;
    padding: 10px 30px;
}

#foto{
    width: 100%;
    max-width: 1800px;
    margin: auto;
}
 #foto img.foto{
    display: inline-block;
    margin: 20px;
 }

 /* START CONTACT */

 #contact div{
    margin: 25px 0;
 }

#contact label{
    width: 100px;
    display: inline-block;
}

#contact select{
    width: 200px;
}
#contact fieldset{
    display: inline-block;
    width: 400px;
    border: 2px solid red;
}
#contact{
}

 /* STOP CONTACT */

 /* GENERAL */
 .titlu1{
    color: aqua;
    font-size: 30px;
    border-bottom: orange;
 }